<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>关于盒子</title>
    <meta charset="utf-8">
    <meta name="keywords" content="互联网金融,网络投融资平台,网络理财,互联网理财,积木盒子,科技金融,互联网金融,jimu.com,m.jimu.com,wap,touch">
    <meta name="description" content="线上网络借贷信息中介平台">
    <meta name="author" content="北京乐融多源信息技术有限公司">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="mobileOptimized" content="width">
    <meta name="handheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="flexible" content="initial-dpr=1">
    <link ref="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="../public/style/index.css">
	<!-- <link rel="stylesheet" type="text/css" href="../public/style/swiper.css"> -->
	<link rel="stylesheet" type="text/css" href="c://Users/jzzz1/Desktop/swiper.css">
</head>

<body>
    <div class="container">
        <div id="why">
            <div class="logo"><img src="../public/images/logo.png"></div>
            <p class="label">为什么选择积木盒子</p>
            <div class="features clearfix">
                <div class="feature feature-safe">
                    <img src="../public/images/safe.png" alt="安全保障">
                    <p class="big-title">安全保障</p>
                    <p class="small-title">第三方担保、保证金</p>
                    <p class="small-title">风险互助金、法律援助金</p>
                    <p class="small-title">多重安全防线</p>
                    <p class="small-title">为投资者提供保障</p>
                </div>
                <div class="feature feature-property">
                    <img src="../public/images/property.png" alt="合规透明">
                    <p class="big-title">合规透明</p>
                    <p class="small-title">交易资金由民生银行全程</p>
                    <p class="small-title">存管，资金流转清晰</p>
                    <p class="small-title">可查，交易真实、合法</p>
                    <p class="small-title">让投资者安心</p>
                </div>
                <div class="feature feature-service">
                    <img src="../public/images/service.png" alt="贴心服务">
                    <p class="big-title">贴心服务</p>
                    <p class="small-title">积木盒子只做一件事</p>
                    <p class="small-title">为投融双方倾力服务</p>
                    <p class="small-title">积木盒子全员参与</p>
                    <p class="small-title">为您提供一站式服务</p>
                </div>
                <div class="feature feature-choice">
                    <img src="../public/images/choice.png" alt="丰富选择">
                    <p class="big-title">丰富选择</p>
                    <p class="small-title">我们为您提供</p>
                    <p class="small-title">多期限、多地域、多行业</p>
                    <p class="small-title">多种形式的投资项目</p>
                    <p class="small-title">总有一款适合您</p>
                </div>
            </div>
        </div>
        <div id="grow">
            <p class="label">发展历程</p>
            <div class="grow-content swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<!-- <p class="big-title">2015</p>
						<p><span class="month">7月</span>正式切换至民生银行 盒子树立P2P资金存管新标杆</p>
						<p><span class="month">4月</span>英国天达集团领投 盒子完成C轮融资共8400万美元</p>
						<p><span class="month">2月</span>盒子交易额突破50亿元</p> -->
						slider1
					</div>
					<div class="swiper-slide">
						<!-- <p class="big-title">2014</p>
						<p><span class="month">2014年11月</span>盒子交易额突破30亿元</p>
						<p><span class="month">4月</span>英国天达集团领投 盒子完成C轮融资共8400万美元</p>
						<p><span class="month">2月</span>盒子交易额突破50亿元</p> -->
						slider2
					</div>
					<div class="swiper-slide">
						<!-- <p class="big-title">2013</p>
						<p><span class="month">2014年11月</span>盒子交易额突破30亿元</p>
						<p><span class="month">4月</span>英国天达集团领投 盒子完成C轮融资共8400万美元</p>
						<p><span class="month">2月</span>盒子交易额突破50亿元</p> -->
						slider3
					</div>
					<div class="swiper-slide">
						<!-- <p class="big-title">2016</p>
						<p><span class="month">9月</span>积木盒子成为积木拼图集团旗下网络借贷平台</p>
						<p><span class="month">9月</span>在多条业务线坚实的基础上，微金融服务集团积木拼图正式成立</p> -->
						slider4
					</div>
				</div>
				<div class="swiper-pagination"></div>
            </div>
        </div>
        <div id="story">
            <p class="label">积木盒子的故事</p>
            <div class="story-content">
                <p class="desc">基于我们的使命和定位，2015年12月，积木盒子推出了新的logo与域名jimu.com</p>
                <p class="desc">新的标志传达了积木全员希望为用户带来的服务体验</p>
                <div class="story-item">
                    <img src="../public/images/simple.png" alt="简洁活跃">
                    <p class="big-title">简洁活跃</p>
                    <p>从积木的基本造型出发</p>
                    <p>一切可能性都来自于用户对于我们的期许</p>
                    <p>和丰富的想象力</p>
                </div>
                <div class="story-item">
                    <img src="../public/images/colorful.png" alt="色彩缤纷">
                    <p class="big-title">色彩缤纷</p>
                    <p>在这里只有缤纷和欢乐</p>
                    <p>理财也可以丰富多彩的</p>
                </div>
                <div class="story-item">
                    <img src="../public/images/smart.png" alt="智能搭配">
                    <p class="big-title">智能搭配</p>
                    <p>所有的色彩和造型都来自于合理的</p>
                    <p>布局和规划。欢乐的背后</p>
                    <p>是专业和严谨的计算</p>
                    <p>自由和想象，是基于细节完美的处理。</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="../public/js/rem.min.js?v=1"></script> -->
    <script src="http://i1.douguo.net/static/wap/js/rem.js?v=fami"></script>
    <script type="text/javascript" src="../public/js/swiper.min.js?v=1"></script>
    <script type="text/javascript">
    	var mySwiper = new Swiper('.swiper-container', {
    		loop: true,
    		pagination : '.swiper-pagination'
    	});
    </script>
</body>

</html>